# Environment variables
.streamlit

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# IDE settings (optional but recommended)
.vscode/
.idea/

#venv
infohealth

# firebase creds
infohealth-129cc-firebase-adminsdk-tpo7x-b1fb03b1a6.json